---
import NestJs from "./icons/NestJs.astro"
import ReactJs from "./icons/ReactJs.astro"
import TypeScript from "./icons/TypeScript.astro"
import MongoDB from "./icons/MongoDB.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import TailwindCSS from "./icons/TailwindCSS.astro"
import Cloudinary from "./icons/Cloudinary.astro"
import Css from "./icons/Css.astro"
import Docker from "./icons/Docker.astro"
import ExpressJs from "./icons/ExpressJs.astro"
import Html from "./icons/Html.astro"
import JavaScript from "./icons/JavaScript.astro"
import Jwt from "./icons/Jwt.astro"
import NextJs from "./icons/NextJs.astro"
import Redux from "./icons/Redux.astro"
import Swagger from "./icons/Swagger.astro"
import TypeOrm from "./icons/TypeOrm.astro"
import Vercel from "./icons/Vercel.astro"
import MUI from "./icons/MUI.astro"
import GitHubActions from "./icons/GitHubActions.astro"
import GitHub from "./icons/GitHub.astro"






const TAGS = {
    NEST: {
        name: "NestJS",
        class: "bg-red-400",
        icon: NestJs,
    },
    REACT: {
        name: "ReactJS",
        class: "bg-blue-500",
        icon: ReactJs,
    },
    TAILWIND: {
        name: "TailwindCSS",
        class: "bg-sky-500",
        icon: TailwindCSS,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-500",
        icon: MongoDB,
    },
    POSTGRES: {
        name: "PostgreSQL",
        class: "bg-yellow-500",
        icon: PostgreSQL,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-purple-500",
        icon: TypeScript,
    },
    JWT: {
        name: "JWT",
        class: "bg-red-500",
        icon: Jwt,
    },
    CLOUDINARY: {
        name: "Cloudinary",
        class: "bg-blue-500",
        icon: Cloudinary,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-500",
        icon: Css,
    },
    DOCKER: {
        name: "Docker",
        class: "bg-green-500",
        icon: Docker,
    },
    EXPRESS: {
        name: "ExpressJS",
        class: "bg-[#fffefe] text-black",
        icon: ExpressJs,
    },
    HTML: {
        name: "HTML",
        class: "bg-red-500",
        icon: Html,
    },
    NEXT: {
        name: "NextJS",
        class: "bg-[#fffefe] text-black",
        icon: NextJs,
    },
    REDUX: {
        name: "Redux",
        class: "bg-[#fffefe] text-black",
        icon: Redux,
    },
    SWAGGER: {
        name: "Swagger",
        class: "bg-[#fffefe] text-black",
        icon: Swagger,
    },
    VERCEL: {
        name: "Vercel",
        class: "bg-[#fffefe] text-black",
        icon: Vercel,
    },
    TYPEORM: {
        name: "TypeORM",
        class: "bg-yellow-500",
        icon: TypeOrm,
    },
    JavaScript: {
        name: "JavaScript",
        class: "bg-yellow-500",
        icon: JavaScript,
    },
    MUI: {
        name: "MUI",
        class: "bg-orange-500",
        icon: MUI,
    },
    GITHUBACTIONS: {
        name: "GitHubActions",
        class: "bg-red-500",
        icon: GitHubActions,
    },
   

}
const PROJECTS = [
    
    {
        title: "Nvoye – Plataforma para Embajadores y Diplomáticos",
        description:
        "Actualmente formo parte del equipo de desarrollo front-end en Nvoye, una startup enfocada en brindar atención integral a embajadores y diplomáticos alrededor del mundo. Estamos construyendo una plataforma para brindar un soporte integral y una red social privada para mejorar el networking y la comunicación entre diplomaticos. he desarrollado el front-end junto a otro desarrollador utilizando . También me encargo del despliegue en un entorno dockerizado en VPS para testeos internos, con integración continua mediante GitHub Actions. La app requiere autenticación para ingresar. Si deseas probarla, puedes usar la siguiente credeciales: email:daramirezsu@gmail.com y password:123456Nvoye#",
        link: "https://nvoye.admingales.online/login",
        github: "https://nvoye.admingales.online/login", 
        image: "nvoye.jpg",
        tags: [
            TAGS.TYPESCRIPT,
            TAGS.NEXT,
            TAGS.REACT,
            TAGS.DOCKER,
            TAGS.MUI,
            TAGS.GITHUBACTIONS,
            
        ],
    },
    {
        title: "E-commerce Hierro Express",
        description:
        "Desarrollé una solución web personalizada para una ferretería de Montevideo, Uruguay, cuyo objetivo principal era replicar digitalmente la experiencia de compra presencial. La aplicación permite a los clientes realizar pedidos filtrando productos según categorías y atributos específicos como largo, ancho, grosor, tipo de perforación, entre otros, según la categoría del producto. El sistema incluye un panel administrativo completo para gestionar productos, pedidos, entregas y pagos.  La app fue dockerizada y desplegada en un VPS .",
        link: "https://hierroexpress.com.uy",
        github: "https://github.com/HierroExpress",
        image: "hierroExpress.jpg",
        tags: [
            TAGS.TYPESCRIPT,
            TAGS.NEXT,
            TAGS.REACT,
            TAGS.NEST,
            TAGS.TAILWIND,
            TAGS.TYPEORM,
            TAGS.POSTGRES,
            TAGS.JWT,
            TAGS.CLOUDINARY,
            TAGS.SWAGGER,
            TAGS.DOCKER,
            ],
    },
    {
        title: "Delicias Gales SAS",
        description: "Esta aplicación, actualmente en desarrollo, está diseñada para una empresa productora y comercializadora de alimentos y otros productos. La plataforma ofrece una solución integral para la gestión de diversas áreas del negocio, con funcionalidades específicas y dashboards personalizados según el rol del usuario (cliente, vendedor, administrador,delivery), y cuenta con funcionalidadesde ventas, inventarios, produccion, entregas, manejo de cartera etc",
        link: "https://admingales.online/",
        github: "https://github.com/jourdanmauricio/delicias-gales-back",
        image: "deliciasGales.png",
        tags: [TAGS.TYPESCRIPT,TAGS.NEXT, TAGS.NEST,TAGS.TAILWIND,TAGS.TYPEORM,TAGS.POSTGRES,TAGS.JWT,TAGS.CLOUDINARY,TAGS.SWAGGER
        ],
    },
    {
        title: "Coco+",
        description: "Coco+ es una plataforma centralizada diseñada para la gestión de coworkings y empresas, implementando funcionalidades avanzadas para facilitar la reserva de espacios de trabajo. Este proyecto fue desarrollado para una startup argentina que actualmente se encuentra en fase de incubación y a la espera de una ronda de inversión para comenzar a operar en Argentina.",
        link: "https://coco-plus-front.vercel.app",
        github: "https://github.com/SebasPCDev/coco-plus-front",
        image: "cocoPort.png",
        tags: [TAGS.TYPESCRIPT,TAGS.NEXT, TAGS.NEST,TAGS.TAILWIND,TAGS.TYPEORM,TAGS.POSTGRES,TAGS.JWT,TAGS.CLOUDINARY,TAGS.SWAGGER
    ],

    },
    {
        title: "Ramiro Tech",
        description: "Desarrollé este proyecto de eCommerce para aplicar y consolidar mis conocimientos en tecnologías de frontend y backend. Inicialmente, construí la aplicación con React y Next.js para el frontend, y para el back Express. Posteriormente, migré al el back de un compañero en  NestJS para adaptarme a un nuevo stack tecnológico y comenzar a entender y aprovechar las ventajas que ofrece esta plataforma.",
        link: "https://ecomerce-ramiro-tech.vercel.app/",
        github: "https://github.com/JPRuedaZ/Backend-Ecommerce",
        image: "RamiroTech.jpg",
        tags: [TAGS.TYPESCRIPT,TAGS.NEXT, TAGS.NEST,TAGS.TAILWIND,TAGS.POSTGRES,TAGS.TYPEORM,TAGS.CLOUDINARY,TAGS.JWT,TAGS.SWAGGER,TAGS.DOCKER,TAGS.VERCEL],
    },





]
---

{
    PROJECTS.map(({title, description, link, github, image, tags}) => (
        <article class="max-w-[700px] mb-10">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-2 gap-x-2 flex-wrap max-w-[700px] my-4">
                {
                    tags.map((tag) => (
                        <li class="break-words">
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`} >
                                <tag.icon class="size-4" />{tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <a href={link}>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
            </a>
        </article>
    ))
}