---
import NestJs from "./icons/NestJs.astro"
import ReactJs from "./icons/ReactJs.astro"
import TypeScript from "./icons/TypeScript.astro"
import MongoDB from "./icons/MongoDB.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import TailwindCSS from "./icons/TailwindCSS.astro"
import Nodejs from "./icons/Nodejs.astro"






const TAGS = {
    NEST: {
        name: "NestJS",
        class: "bg-red-400",
        icon: NestJs,
    },
    REACT: {
        name: "ReactJS",
        class: "bg-blue-500",
        icon: ReactJs,
    },
    TAILWIND: {
        name: "TailwindCSS",
        class: "bg-sky-500",
        icon: TailwindCSS,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-500",
        icon: MongoDB,
    },
    POSTGRES: {
        name: "PostgreSQL",
        class: "bg-yellow-500",
        icon: PostgreSQL,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-purple-500",
        icon: TypeScript,
    },
    NODE: {
        name: "NodeJS",
        class: "bg-green-500",
        icon: Nodejs,
    },

}
const PROJECTS = [
    {
        title: "Papodev",
        description: "Desarrollo de una landing page de papodev. Creado con Astro.",
        link: "https://papodev.vercel.app/",
        github: "https://github.com/JPRuedaZ/papodev",
        image: "/assets/papodev.png",
        tags: [TAGS.REACT, TAGS.NEST, TAGS.TAILWIND, TAGS.TYPESCRIPT, TAGS.POSTGRES, TAGS.MONGODB, TAGS.NODE],
    }
]
---

{
    PROJECTS.map(({title, description, link, github, image, tags}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row">
                {
                    tags.map((tag) => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`} >
                            <tag.icon class="size-4" />{tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
        </article>
))
}